<div>
  <table *ngIf="teamStandings else loading" class="highlight responsive-table">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Games</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>Goal Difference</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody *ngFor="let team of teamStandings">
    <tr>
      <th><img alt="x" height="25" ngSrc="{{team.logoUrl}}" width="25"></th>
      <td><a [routerLink]="['/team-game-results', country, team.id]">{{team.name}}</a></td>
      <td>{{team.games}}</td>
      <td>{{team.wins}}</td>
      <td>{{team.losses}}</td>
      <td>{{team.draws}}</td>
      <td>{{team.goalDifference}}</td>
      <td>{{team.points}}</td>
    </tr>
    </tbody>
  </table>
  <ng-template #loading>
    <span>Loading...</span>
  </ng-template>
</div>
